html {
    font-family: sans-serif;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px 20px;
}

th {
    height: 100px;
}

.vert {
    background-color: green;
}

.bleu {
    background-color: blue;
}

.cyan {
    background-color: cyan;
}

.darkblue{
    background-color: darkblue;
}

.violet {
    background-color: blueviolet;
}

.jaune {
    background-color: yellow;
}

.red {
    background-color: red;
}

.darkcyan {
    background-color: darkcyan;
}

.lightblue {
    background-color: lightblue;
}